<div id="content">
  <div class="qrcodeImage">
    <qrcode #parent [qrdata]="url" [allowEmptyString]="true" [ariaLabel]="'QR Code image with the following content...'"
      [cssClass]="'center'" [colorDark]="foreground" [colorLight]="background" [elementType]="elementType"
      [errorCorrectionLevel]="'M'" [imageSrc]="imageUrl" [imageHeight]="imageHeight" [imageWidth]="imageWidth"
      [margin]="4" [scale]="1" [title]="'A custom title attribute'" [width]="300"></qrcode>
  </div>
</div>
<div>
  <label>URL</label>
  <input [(ngModel)]="url" />
</div>
<div>
  <label>Foreground Color</label>
  <input type="color" [(ngModel)]="foreground" />
</div>
<div>
  <label>Background Color</label>
  <input type="color" [(ngModel)]="background" />
</div>
<div>
  <label>Image Url</label>
  <input [(ngModel)]="imageUrl" />
  <input type="file" id="img" accept="image/*" (change)="onImageUpload($event)">
</div>
<ng-container *ngIf="!!imageUrl">
  <div>
    <label>Image Height</label>
    <input type="number" [(ngModel)]="imageHeight" />
  </div>
  <div>
    <label>Image Width</label>
    <input type="number" [(ngModel)]="imageWidth" />
  </div>
</ng-container>
<div class="downloadButton">
  <button mat-raised-button color="primary" (click)="saveAsImage(parent)">
    Download QR Code Image
  </button>
</div>